
.negate:active, .decimal:active, .erase:active {
  transform: scale(1);
  transition: background-color .05s;
  background-color: rgb(82, 28, 28);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 22vw;
  height: 65vh;
}

.calculator .display {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  font-size: 7vh;
  flex: 1;

  background-color: grey;
  border: .12vw solid black;
  box-sizing: border-box;
  border-bottom: .15vw solid black;
  padding-bottom: .2vw;
}

.calculator .display .calculation-display {
  flex: 1;
  font-size: 2.2vh; 
  white-space: nowrap;
}

.calculator .display .current-display {
  flex: 2;
}

.calculator .display p {
  margin: 0;
}

.calculator .calc-buttons {
  display: flex;
  width: 100%;
  height: 80%;

  background-color: grey;
  border: .1vw solid black;
  box-sizing: border-box;
}

.calculator .calc-buttons .left-side {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.calculator .calc-buttons .right-side {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.calc-buttons .left-side button {
  width: calc(100% / 3);
}

.calc-buttons .left-side .clear {
  width: calc(100% / 3 * 2);
}

.calc-buttons .right-side button {
  width: 100%;
}

.calc-buttons div button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .1vw solid black;
  box-sizing: border-box;
  font-size: 5vh;
}

button:active {
  transform: scale(.98);
}

/*
.calculator .calc-buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: grey;
  font-size: 4vh;
}

.calculator .calc-buttons .left-side{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  border: none;
}

.calculator .calc-buttons .right-side {
  display: grid;
  grid-column: span 1;
  border: none;
}

.calc-buttons .clear {
  grid-column: span 2;
}

.calc-buttons div {
  border: 1px solid black;
}*/
