body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;

  background-image: radial-gradient(circle, rgba(200, 220, 240, 0.9) 40%, rgba(180, 210, 240, 0.9) 70%, rgba(190, 205, 230, 0.9) 100%);
  font-family: 'Abel';
}

.calc-header {
  font-size: 8vh;
  margin-top: 2vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 22vw;
  height: 65vh;
  border: .4vh solid rgb(44, 44, 44);
  border-radius: .6vh;
  box-shadow: 0 0 3vh black;
  margin-top: 5vh;
  min-height: 200px;
  min-width: 200px;
  z-index: 1000;
}

.calculator .display {
  --main-display-size: 7vh;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  font-size: var(--main-display-size);
  flex: 1;
  padding: 0;

  border: .12vw solid rgb(44, 44, 44);
  border-bottom: .15vw solid black;
  min-width: 200px;
}

.calculator .display .calculation-display {
  --smaller-font-size: 2vh;

  font-size: var(--smaller-font-size);
  white-space: nowrap;
  margin: .4vw;

}

.calculator .display .current-display {
  flex: 2;
  display: flex;
  align-items: flex-end;
  margin-right: .4vw;
}

.calculator .display p {
  margin: 0;
}

.calculator .calc-buttons {
  display: flex;
  width: 100%;
  height: 80%;
  min-width: 200px;
  align-self: center;

  border: .1vw solid rgb(44, 44, 44);
}

.calculator .calc-buttons .left-side {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.calculator .calc-buttons .right-side {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.calc-buttons .left-side button {
  width: calc(100% / 3);
  font-family: 'Abel'
}

.calc-buttons .left-side .clear {
  width: calc(100% / 3 * 2);
}

.calc-buttons .right-side button {
  width: 100%;
  font-family: 'Abel'
}

button {
  background-image: radial-gradient(ellipse, rgb(201, 201, 201) 0%, rgba(211, 211, 211, 0.9) 20%, rgba(255, 255, 255, 0.9) 140%);
}

.calc-buttons div button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .1vw solid rgb(44, 44, 44);
  font-size: 5vh;
  transition: background-color .5s, transform .15s, box-shadow .2s;
}

button:active,
button.active {
  transform: scale(.99);
  box-shadow: 0 0 .65vh rgb(44, 44, 44);
}

button:hover {
  background-color: rgba(59, 59, 59, 0.9)
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vh;
  font-size: 2.5vh;

}

.footer p a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  margin-left: .35vw;
  height: 2.5vh;
  fill: var(--text-color);

  transition: transform .65s;
}

.footer img:hover {
  transform: scale(1.125);
  cursor: pointer;
}