body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 22vw;
  height: 65vh;
}

.calculator .display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  font-size: 5vh;
  flex: 1;

  background-color: grey;
  border: .12vw solid black;
  box-sizing: border-box;
  border-bottom: .15vw solid black;
  padding-bottom: .2vw;
}

.calculator .calc-buttons {
  display: flex;
  width: 100%;
  height: 80%;

  background-color: grey;
  border: .1vw solid black;
  box-sizing: border-box;
}

.calculator .calc-buttons .left-side {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.calculator .calc-buttons .right-side {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.calc-buttons .left-side div {
  width: calc(100% / 3);
}

.calc-buttons .left-side .clear {
  width: calc(100% / 3 * 2);
}

.calc-buttons .right-side div {
  width: 100%;
}

.calc-buttons div div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .1vw solid black;
  box-sizing: border-box;
  font-size: 5vh;
}

/*
.calculator .calc-buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: grey;
  font-size: 4vh;
}

.calculator .calc-buttons .left-side{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  border: none;
}

.calculator .calc-buttons .right-side {
  display: grid;
  grid-column: span 1;
  border: none;
}

.calc-buttons .clear {
  grid-column: span 2;
}

.calc-buttons div {
  border: 1px solid black;
}*/
